<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated and perms.planning.can_create_event %}
    Выберите место для мероприятия
    <button type="submit">
        <a href="/planning/event_create/room">Мероприятие в комнате</a>
    </button>
    <button type="submit">
        <a href="/planning/event_create/meeting_room">Мероприятие в зале</a>
    </button>
{% else %}
    Вы не авторизированны
{% endif %}
</body>
</html>